<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Simple Website</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        nav {
            background-color: #444;
            text-align: center;
            padding: 10px;
        }

        nav a {
            text-decoration: none;
            color: #fff;
            margin: 0 10px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
        }

        .card {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 10px;
            width: 300px;
            padding: 10px;
        }

        h2 {
            font-size: 1.5em;
            margin: 0;
        }

        h3 {
            font-size: 1.2em;
            color: #555;
            margin: 0;
        }

        p {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <header>
        <h1>CMS</h1>
    
    <nav>
        <a href="/createBlog">Add Blog</a> 
        
      
    </nav>
    </header>
    <div class="container">

        <% if(blogs.length ==0){ %>
<h1>No Blogs</h1>
        <% }else{ %>

            <% blogs.forEach((blog)=>{ %>
                <div class="card">
                    <h2><%- blog.title %></h2>  <!-- <%# chai dynamic content dekhauna lai%> -->
                    <h3><%- blog.subTitle %></h3>
                    <p><%- blog.description %></p>
                    <a href="/single/<%-blog.id %>"> Read More</a>
                </div>
        
             <%  })  %>
       <% } %>
    
        </div>
    </div>
</body>
</html>
